{% extends "base.html" %}
{% block title %}About Page{% endblock %}
{% block content %}

<h1>about me</h1>

<p>My name is Anthony, but I also go by Tony, or Drake. I am 24 years old, and I am from Taneytown, Maryland, a small town an hour northwest of Baltimore.</p>

<h2>background</h2>

<p>In 2019, I graduated from Mount St. Mary's University with a Bachelor of Science in Computer Science and a minor in Data Science. </p>

<p>It took until my junior year of college to discover my passion for Data Science. Even as a kid I liked statistics, whether it was comparing various players' stats in my baseball card collection, or doing elementary analysis in the 'Match Facts' in my FIFA games growing up. Learning about Data Science took these to a whole 'nother level. </p>

<p>During my internship at iHire as a Data Aggregation Intern, my job was to rewrite spiders that scraped job data from company websites, and bring them into iHire's data warehouse. This job gave me precious experience with web scraping with Python, and in addition it have given me practice using the ETL process. If there's one thing my internship taught me about data analytics, it's that you MUST become familiar with the data, and most of your time will be spent cleaning data. </p>

<h2>interests</h2>
<dl>
	<dt>Cooking:</dt>
	<dd>Vegan and Vegetarian foods </dd>
	<dt>Soccer (football):</dt>
	<dd>A.S. Roma, Real Madrid, and DC United</dd>
	<dt>Photography:</dt>
	<dd>Film is not dead!</dd>
</dl> 

<h2>where to find me</h2>

<address>
	<dl>
	<dt><a href="mailto:anthony.e.drake@gmail.com">anthony.e.drake@gmail.com</a></dt>
	<dt><a href="https://www.linkedin.com/in/anthonyedrake/">LinkedIn</a></dt>
	<dt><a href="https://github.com/AntEDra">GitHub</a></dt>
	<dt><a href="https://www.instagram.com/anthonysanalogs/">Instagram</a></dt>
</address>


{% endblock %}