{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}

<h1>Hi, I'm Anthony Drake.</h1>

<h2>This is my website.</h2>

<p>I am a Computer Science graduate from Mount St. Mary's University with 6 months of experience in software development. I also am an amateur photographer.</p>

<h2>My Mission?</h2>

<p>To obtain a position and provide value to a company that offers challenging experiences and constant learning.</p>

<p>You can contact me at anthony.e.drake@gmail.com or via <a href="https://www.linkedin.com/in/anthonyedrake/">LinkedIn</a></p>

{% endblock %}
