{% extends "base.html" %}
{% block title %}Projects Page{% endblock %}
{% block content %}
<h1>projects</h1>

<h2>Personal Website</h2>

<p>I built this website using the Flask microframework with Bootstrap. This is the first website I built, and it was really fun once I started brushing up on my HTML and CSS skills from college. This is definately something I want to keep on improving, and I hope you all will check the site later to see what new additions I have been making. </p>

<h2>The Needle Drop Spider</h2>

<p>Using the knowledge I gained from my iHire internship, I built a spider in Python to aggregate album review data from theneedledrop.com (the internet's busiest music nerd) and put it into a JSON file. I will use this for exploratory data analysis with Python Anaconda. If you are interesting in playing around with a music review dataset check it out <a href="https://github.com/AntEDra/theNeedleDrop/blob/master/TNDReviews/theneedledrop.json">here!</a></p>

<h2>UDP Chat Program</h2>

<p>A simple network client chat written in Python where users can communicate using their source port, destination port and destination IP. The GUI was created using the tkinter package. The entire read-me and instructions to use the program are <a href="https://github.com/AntEDra/UDP-Chat">here.</a></p>

{% endblock %}
